.App {
  text-align: center;
}

body {
  background-color: #8AA1FE;
}

.main {
  display: inline-block;
  background-color: white;
  overflow: auto;
  position: relative;
  width: 100%;
  padding: 40px;
  margin: auto;
  margin-top: -200px;
  min-height: 510px;
  width: 1000px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
