/* .navbar-default {
  background-color: #E983DB;
  border-color: #333;
  background-image: none;
  background-repeat: no-repeat;
 }

.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 16px;
    font-family: Arial;
}

.navbar-default .navbar-nav > li > a:hover {
     color: #8AA1FE;
     font-weight: bold;
 }

.navbar-default .container .navbar-header > a {
  color: black;
  font-family: Arial;
}

.navbar-default .container .navbar-header > a:hover {
  color: #8AA1FE;
  font-weight: bold;
}

.navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  border-color: #E983DB;
  background-color: #E983DB;
  background-image: none;
  background-repeat: no-repeat;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #8AA1FE;
  font-weight: bold;
  border-color: #E983DB;
  background-color: #E983DB;
  background-image: none;
  background-repeat: no-repeat;
} */

.mdl-layout__header {
  background-color: #002967;
}

#contact-link{
  padding-left: 24px;
  color: rgb(255,255,255);
  opacity: 0.87;
  text-decoration: none;
}
#contact-link:hover{
  font-weight: bold;
}


#nav-title{
  padding-right: 20px;
}

.nav-icons {
  display: inline;
}

.nav-icon {
  color: white;
  width: 25px;
  height: 25px;
  margin: -10px;
}

.nav-icon:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.nav-links .mdl-navigation__link:hover{
  font-weight: bold;
  text-decoration: none;
}
