
.mdl-layout__header {
  background-color: #002967;
}

#contact-link{
  padding-left: 24px;
  color: rgb(255,255,255);
  opacity: 0.87;
  text-decoration: none;
}
#contact-link:hover{
  cursor: pointer;
  font-weight: bold;
}


#nav-title{
  padding-right: 20px;
}

.nav-icons {
  display: inline;
}

.nav-icon {
  color: white;
  width: 25px;
  height: 25px;
  margin: -10px;
}

.nav-icon:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.nav-links .mdl-navigation__link:hover {
  font-weight: bold;
  text-decoration: none;
}
