#project-container {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#tab-title-row {
  text-align: center;
  background-color:  #2251AB;
}

#tab-title-row > span {
  display: inline-block;
  float: right;
  margin: auto;
}

.tab-bar{
  background-color: #002967;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
  background: magenta;
}

.project-icon {
  display: inline-flex;
  color: #2251AB;
  margin-left: 10px;
  font-size: 20px;
}

#project-github{
  margin-left: 10px;
  font-size: 20px;
}

#project-github > a{
  color: magenta;
}

#project-github > a:hover{
  color: #2251AB;
  text-decoration: none;
  font-size: 24px;
}

.mdl-list__item-text-body {
  text-align: left;
  max-width: 800px;
  position: relative;
}

.project-title {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.mdl-list__item-secondary-action{
  align-items: left;
  margin: auto;
  margin-right: 10px;
}
