#project-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#project-container .page-content {
  padding-top: 80px;
  padding-right: 60px;
}

#project-container .mdl-list__item {
  margin-top: 20px;
}

#tab-title-row {
  background-color:  #2251AB;
}

.tab-bar{
  background-color: #002967;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
  background: magenta;
}

.project-icon {
  display: inline-flex;
  color: #2251AB;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 20px;
}

#project-github{
  margin-left: 10px;
  font-size: 20px;
}

#project-github > a {
  color: black;
}

#project-github > a:hover{
  color: #2251AB;
  text-decoration: none;
  font-size: 24px;
}

.project-item .mdl-list__item-text-body{
  color: black;
}

.project-title {
  display: inline-block;
  font-weight: bold;
  margin: auto;
}

.mdl-list__item-secondary-action{
  margin: auto;
  padding: 0;
}

.mdl-layout__tab:hover{
  text-decoration: none;
  color: rgba(255,255,255, 0.6);
  font-weight: bold;
}

.mdl-list__item {
  overflow: visible;
}

.mdl-list__item-text-body {
  margin: auto;
  max-width: 800px;
  position: relative;
}

@media screen and (max-width: 1057px){
  .mdl-list__item-text-body {
    margin-left: 20px;
  }

  #project-container .mdl-list__item {
    margin-bottom: 40px;
  }

  #project-container .page-content {
    padding-top: 40px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 500px){
  #project-container .mdl-list__item {
    overflow: scroll;
  }
}
