#project-container {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#tab-title-row {
  background-color:  #2251AB;
}

.tab-bar{
  background-color: #002967;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
  background: magenta;
}

.project-icon {
  display: inline-flex;
  color: #2251AB;
  margin-left: 10px;
  margin-top: 3px;
  font-size: 20px;
}

#project-github{
  margin-left: 10px;
  font-size: 20px;
}

#project-github > a {
  color: black;
}

#project-github > a:hover{
  color: #2251AB;
  text-decoration: none;
  font-size: 24px;
}

.mdl-list__item-text-body {
  margin: auto;
  max-width: 800px;
  position: relative;
}

.mdl-list__item-primary-content .mdl-list__item-text-body{
  color: black;
}

.project-title {
  display: inline-block;
  font-weight: bold;
  margin: auto;
}

.mdl-list__item-secondary-action{
  margin-right: 10px;
}

.mdl-layout__tab:hover{
  text-decoration: none;
  color: rgba(255,255,255, 0.6);
  font-weight: bold;
}
