#contact-card {
  z-index: 0;
  display: inline-flex;
  max-width: 20%;
  height: 510px;
  margin-right: 20px;
  margin-top: 50px;
  float: right;
}

#contact-list {
  position: relative;
  width: 110%;
}

#email {
  padding-left: 3px;
  padding-right: 4px;
}

#phone {
  padding: 4px;
}

#discord {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 3px;
}

#slack {
  padding: 3px;
}

.__react_component_tooltip.show.type-dark {
  background-color: rgba(97,97,97, 0.9);
}

.mdl-list__item-avatar:hover {
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.mdl-list__item-avatar {
    background-color: #2251AB;
}

.mdl-list__item-avatar:active {
    border: 2px solid transparent;
}

.contact-item {
  border-bottom: 1px dashed rgba(0,0,0,.5);
}

.contact-item > span > span {
  font-style: oblique;
}

#contact-list .mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title {
  font-stretch: condensed;
}

#small-contact-list {
  padding-top: 3%;
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

#small-contact-list .contact-item {
  border: none;
}

#small-contact-list .mdl-list__item-sub-title {
  visibility: hidden;
}

#small-contact-list .mdl-list__item-primary-content > span {
  font-size: 70%;
}

#small-contact-list  > li {
  white-space: nowrap;
  position: relative;
  width: 25%;
  display: inline-block;
  margin-bottom: 20px;
}

#small-contact-card {
  height: 120px;
  width: 70%;
  display: inline-block;
  position: relative;
}

#small-contact-card .mdl-card__supporting-text{
  position: absolute;
  height: 80px;
}

#small-contact-card .mdl-card__title-text {
  position: absolute;
  display: inline-block;
  margin-top: 18px;
}

.mdl-card {
  min-height: 100px;
}
