.nav-links .mdl-navigation__link {
  text-decoration: none;
}

.mdl-layout__inner-container {
  overflow: visible;
}

.mdl-layout__header {
  background-color: #002967;
}

#contact-link{
  padding-left: 24px;
  color: rgb(255,255,255);
  opacity: 0.87;
  text-decoration: none;
}
#contact-link:hover{
  cursor: pointer;
  font-weight: bold;
}


#nav-title{
  padding-right: 20px;
}

.nav-icons {
  display: inline;
}

.nav-icon {
  color: white;
  width: 25px;
  height: 25px;
  margin: -15px;
}

.nav-icon:hover {
  cursor: pointer;
  margin: -17.5px;
  width: 30px;
  height: 30px;
}

#contact-link:hover {
  margin: -2px;
}

.nav-links .mdl-navigation__link:hover {
  margin: -2.5px;
  font-weight: bold;
  text-decoration: none;
}

#navbar-small .nav-icons {
  display: inline;
}

#navbar-small #nav-title {
  display: inline;
  font-size: 16px;
}

#navbar-small .nav-links {
  visibility: hidden;
}

#navbar-small #contact-link {
  visibility: hidden;
}

#menu {
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
  z-index: 1000;
  color: white;
  width: 25px;
  height: 25px;
}

#menu:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.menu-links > li > a {
  text-decoration: none;
  color: black;
}

.menu-links #contact-link {
  color: black;
}
